<!DOCTYPE html>
<title>{% block title %}{% endblock %} - Metadata Portal</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

<header>
    <nav>
        <h1><a class="nav-button" href="{{ url_for('portal.index') }}">Metadata Portal</a></h1>
        <ul>
            {% if current_user.is_authenticated %}
                <li><span>Hello, {{ current_user.email }}!</span>
                <li><a class="nav-button" href="{{ url_for('hydra.logout') }}">Sign out</a>
            {% else %}
                <li><a class="nav-button" href="{{ url_for('hydra.login') }}">Sign in</a>
            {% endif %}
        </ul>
    </nav>
</header>

{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        <section class="flash">
            <ul>
                {% for category, message in messages %}
                    <li class="{{ category }}">{{ message }}</li>
                {% endfor %}
            </ul>
        </section>
    {% endif %}
{% endwith %}

<main>
    <header><h1>{% block page_heading %}{% endblock %}</h1></header>
    {% block content %}{% endblock %}
</main>
