{% extends 'base.html' %}

{% block page_heading %}
    {% block title %}Institutions{% endblock %}
{% endblock %}

{% block content %}
    <ul>
        {% for institution in institutions %}
            <li><h2>{{ institution.name }}</h2>
                <p><a href="{{ url_for('portal.list_records', institution_key=institution.key) }}">List records</a>
                <p><a href="{{ url_for('portal.add_record', institution_key=institution.key) }}">Add record</a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
